/*big*/
@media (min-width: 768px) {
	h1 {
		font-size: 4em; 
		color: black;
		}
	h2 {font-size: 3em; }
	h4 {font-size: 2em; }
	p {font-size: 1em;}
	.sidenav {font-size: 1.2em;}
	.sidenav-sub {font-size: 1em;}
li.sidenav {
		background-color: white;
		text-align: left;
		margin: 10px 0px;
		text-indent: 1em;
	}
li.active {
	background-color: #DFFF00;
	text-align: left;
	margin: 10px 0px;
}

li.sidenav-sub {
	width: 85%;
	background-color: white;
	text-align: left;
	margin: .5em 0em .5em 1.5em;
	padding: 0em 0em 0em 1em;
	}
li.active {
		background-color: #DFFF00;
	}

}
/*small*/
@media (max-width: 768px) {
	h1 {font-size: 3.5em; }
	h2 {font-size: 3em; }
	h4 {font-size: 2em; }
	p {font-size: 1em;}
	
	li {display: inline;
		text-align: center;
		}
		
	.sidenav {
		background-color: white;
		font-size: 1.1em;
		color: white;
		padding: .0em .5em .2em .5em;
		}
	.sidenav-sub {
		background-color: white;
		font-size: 1em;
		color: white;
		padding: .5em .5em .2em .5em;
		}

	li.active {
		background-color: #DFFF00;
	}
}
/*sidebar freeze*/
@media (min-width: 768px) {
	#sidebar.affix-top {position:static;}
	#sidebar.affix {position: fixed;}
	}
.affix-top,.affix{position: static;}
/*end freeze*/

.sidebar {
	color: black;
	background-color: white;
	height: 100%;
	/*background-image: url( ../images/grid64.png);
    background-repeat: repeat;*/
	}
ul.sidebar {
    color: black;
	padding: 10px 10px 10px 10px;
}	

.header {
	padding: 10px 20px 10px 10px;
	margin: 0px 0px 0px 0px;
	background-color: white;
	color: black;
}
.main {
	padding: 25px 25px 25px 25px;
	color: white;
	/*background-color: #a0a0a0;
	background-image: url("/images/32grid.png");
	*/
	}

body {
	background-color: black ;
}

.sidenav a {
	color: black;
}
.sidenav-sub a {
	color: black;
}

/*fonts*/
h2, h4 {
    font-family: 'Work Sans', sans-serif;
	letter-spacing: .2em;
	font-weight: 500;
	text-align: left;
}
.main h2{
	color:white;
	font-size: 5em;
}
p, a {
    font-family: 'Work Sans', sans-serif;
	line-height: 1.3em;
	letter-spacing: .1em;
	text-decoration: none;
	text-align: justify;
}
.header a {
	color: black;
	font-weight: 500;
	letter-spacing: .15em;
	text-align: left;
}
.header p {
	color: black;
	letter-spacing: 0em;
	font-weight: 400;
	text-align: center;
}
p.small{
	font-size: 12px;
}
a:hover {
	color: #DFFF00;
	text-decoration: none;
}
/*end fonts*/
img {
	margin: 15px 10px 10px 10px;
	width: 100%;
}

.project img:hover {
	opacity:.5;
}
@media (min-width: 1200px){
.project figure {
	width: 50%;
	float: left;
	padding: 0px 10px
}	
}

.figure {
	float: right;
	padding: 0px 0px 5px 10px;
}
p.figure-caption {
	font-size: .8em;
	text-align: center;
}
@media (min-width: 768px){
.resume figure {
	width: 30%;
	float: right;
	}
}
@media (max-width: 768px){
.resume figure {
	width: 100%;
	float: center;
	}
}

.resume h4 {
	color: #DFFF00;
}
/*table, th, td {
	width: 100%;
	background-color: blue;
	border: 1px solid white;
}*/
table {
	width: 100%;
}
td {
	padding: 0px 0px 0px 0px;
	vertical-align: top;
	}
.year p{
	text-align: right;
	width: 75px;
}
@media (min-width: 768px){
table.volunteer {width: 70%;}
}