/*general*/
body {
  background-color: rgb(235, 235, 235);
  color: rgb(10,10,10);
	font-family: Baskerville,Baskerville Old Face,Hoefler Text,Garamond,Times New Roman,serif; 
  font-size: 2em;
}

.sub {
  font-family: Futura,Trebuchet MS,Arial,sans-serif; 
}

i {
  font-size: 1em;
}

a {color: #a0a0a0;}

.main {
  display: grid;
  row-gap: 15px;
}
