/*general*/

:root {
  --textColor: rgb(58, 66, 75);
  --backgroundColor: rgb(240, 242, 244);
  --gridBackground: rgba(255, 255, 255, 0.6)
}

body {
  background-color: var(--backgroundColor);
  color: var(--textColor);
  font-family: Jost;
  font-size: 1.5em;
}

a {
  color: var(--main-bg-color);
}

#main {
  display: grid;
  grid-template-columns: .5fr repeat(8, 1fr) .5fr;
  grid-template-rows: .5fr repeat(8, 1fr) .5fr;
  /* grid-template-rows: 1fr; */
}

#box {
  background-image: url("../images/columbia_glacier_alaska_timelapse_15m_0001_LC08_067017_20150813.jpg");
  opacity: .4;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  z-index: -1;
  grid-row: 3/span 7;
  grid-column: 6/span 5;

}

#text {
  grid-column: 2/ span 6;
  grid-row: 2/ span 7;
  background-color: rgba(255, 255, 255, .5);
  background-blend-mode: lighten;
  padding: 0vw 3vw;
}


#hello {
  font-family: Baskerville, Baskerville Old Face, Hoefler Text, Garamond, Times New Roman, serif;
  font-size: 3em;
  margin-block-start: .5em;
  margin-block-end: 0em;
}

#email {
  grid-column: 10;
  grid-row: 1/ span 10;
  writing-mode: vertical-rl;
  align-self: center;
}

@media only screen and (max-width: 1000px) {
  #email {
   grid-column: 2/10;
    grid-row: 9;
    writing-mode: horizontal-tb;
  }

  /* body {
    background-color: tomato;
  } */

  #text {
    grid-column: 2/ span 8;
    grid-row: 2/ span 7;
    padding: 0vw 3vw;
  }
}