/*general*/
body {
  background-color: black;
  color: white;
  font-family: 'Work Sans', sans-serif;
  letter-spacing: .01em;
  font-size: 1.5em
}

h1, h2, h3, h4 {
  font-family: 'Libre Baskerville', serif;
  font-weight: 700;
  letter-spacing: .02em;
  margin-top: 0px;
}

i {
  color: black;
  font-size: 2em;
  letter-spacing: .2em;
}

a {color: tomato;}

a:hover, i:hover {
  text-decoration: none;
  color: #009CB8;
}

figure {
  max-width: 45%;
  float: right;
}

.portfolio {
  margin: 0;
}

td.year {
  text-align: right;
  padding: 0;
  vertical-align: top;
}

.resume h2 {
  color: tomato;
  padding: 25px 0px 10px 0px;
}

.social li {
  display: inline;
}

.social a {
  font-size: 30px;
}

ul.social {
  padding: 0px!important;
}

.navigation {
  display: inline;
}


.resume table{
  width: 100%;
}

#sidebar {
  color: black;
  background-color: white;
  padding: 30px;
}

#sidebar a {
  color: black!important;
}

#sidebar a:hover, i:hover{
  color: tomato!important;
}


#main, #work {
  padding: 30px;
}

.atlas {
  background-color: #E0E0E0;
  color: black;
}

.atlas h2, h3 {
  padding: 10px 0px 10px 0px;
  margin: 0px;
}

/*projects*/
.portfolio {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
  align-content: flex-start;
}

.project {
  position: relative;
  margin-bottom: 20px;
  /*max-width: 400px;*/
}

.img__img {
  max-width: 300px;
  margin-left: 50%;
  transform: translateX(-50%);
  overflow: hidden;
  margin-bottom: 0px;
}

/*formats the text*/
.img__description_layer {
  font-size: 1.2em;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: white;
  color: tomato;
  visibility: hidden;
  opacity: 0;
  display: flex;
  align-items: left;

  /*justify-content: center;*/

  /* transition effect. not necessary */
  transition: opacity .2s, visibility .2s;
}

.project:hover .img__description_layer {
  visibility: visible;
  opacity: .9;
}

.img__description {
  padding: 10px 0px 0px 10px;
  transition: .2s;
  transform: translateY(1em);
}

.project:hover .img__description {
  transform: translateY(0);
}
/*big*/
@media (min-width: 700px) {
  #sidebar {
    height: 100vh;
    width: 33.3333333333%;
    position: fixed;
    top: 0;
    left: 0;
  }

  #main, #work{
    width: 66.6666666667%;
    margin-left: 33.3333333333%;
  }

  #contact {
    position: absolute;
    bottom: 0;
  }
}
/*small*/
@media (max-width: 700px) {
  #sidebar {
    width: 100%
  }
}
